

img {
    border-radius: 50%;
    width:5em ;
    aspect-ratio: 1/1;
    object-fit: cover;
}

ul {
    list-style-type: none;
    margin: auto;
}

p {
    justify-content: space-around;
    display: flex;
    margin-left: 1em;
    
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}